header, footer{
    background-color:black;
    color:white;
    margin: 10px;
}

#date-container{
    margin-bottom: 10px;
}


#calendar{
    width: 600px;
    margin:auto;
}

.decade {
    position:relative;  
    display: grid;
    grid-template-columns: repeat(53, auto);
    width: 100%;
    margin-bottom: 10px;

}

.square {
    background-color: white;
    border: 1px solid black;
    height: 9px;
    width: 9px;
    margin: 1px;
}
.number {
    border: none;
    font-size: 8px;
    font-weight: bold;
}

.square-white {
    background-color: white;
}

.square-black {
    background-color: black;
}
