header, footer{
    background-color:black;
    color:white;
    margin: 10px;
}
#calendar{
    width: 60%;
    margin:auto;
}

.line {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* border: 1px solid black; */
    /* margin: 2;   */
}
.decade {
    position:relative;  
    display: grid;
    grid-template-columns: repeat(53, auto);
    width: 85%;
    margin:auto;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}

.container {
    /* display:flex;
    flex-wrap: wrap;
    justify-content:center; */
    position:relative;  
    display: grid;
    grid-template-columns: repeat(26, auto);
    /* border: 1px solid black; */
    /* margin: 2px; */
}

.square {
    background-color: white;
    border: 1px solid black;
    height: 10px;
    width: 10px;
    margin: 2px;
}
.number {
    border: none;
    font-size: 10px;
}

.square-white {
    background-color: white;
}

.square-black {
    background-color: black;
}
